.todo-page {
    margin: 0 11em;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-form {
    margin: 1em 0;

    display: flex;
    justify-content: center;
    width: 100%;
    height: 3em;
    background-color: #fff;
}

.modal-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.todo-input {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    cursor: text;
    padding: 0 1em;
    box-shadow: 0px 1px 10px -3px gray;
    border-radius: 5px;
    color: #808080;
}

.todo-input p {
    margin: 0;
}

.title-task {
    border: 0 none;
    outline: 0;
    width: 100%;

    padding: 0 0.2em;
    margin-bottom: 1em;
    font-size: x-large;
    border: 1px solid white;
    transition: 0.5s;
}

.desc-task {
    border: 0 none;
    outline: 0;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.5s;
    width: 100%;
}

.desc-task:focus,
.title-task:focus {
    border: 1px solid gray;
    border-radius: 5px;
}

.button-form-modal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.my-button {
    border: 0 none;
    outline: 0;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: 0.4s;
    font-weight: 500;
    cursor: pointer;
}

.my-button:hover {
    opacity: 0.7;
}

.cancel-button-modal {
    background-color: rgb(252, 104, 104);
}

.confirm-button-modal {
    background-color: rgb(106, 194, 106);
}

.date {
    border: 1px solid gray;
}

.todo-tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    overflow-y: scroll;
    height: 57vh;
    padding-top: 1em;
}

.todo-task:hover {
    box-shadow: 0px 0px 10px -3px #000;
}

.todo-task {
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.5s;
}

.todo-task p,
.todo-task h3 {
    margin: 0;
    width: 50%;
    word-wrap: break-word;
    background-color: #fff;
}

.todo-task button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
}

.todo-task button:hover {
    background-color: #000;
    color: #fff;
}

.todo-content-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.todo-content-info p,
.todo-content-info h3 {
    margin: 0;
    width: 50%;
    word-wrap: break-word;
    background-color: #fff;
}

.info-modal .desc-info,
.info-modal .date-info {
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 0.5em;
    border-radius: 5px;
}

.info-modal button {
    margin-top: 1em;
}

.info-modal {
    display: flex;
    flex-direction: column;
}

.buttons-delete-task {
    display: flex;
    flex-direction: column;
}

.buttons-delete-task .cancel-button-modal {
    margin-bottom: 1em;
}

.emprty-image {
    max-width: 37%;
    min-width: 270px;
}

.nav-select-type {
    display: flex;
    justify-content: space-between;
    width: 70%;
    cursor: default;
    font-weight: 300;
    margin-top: 1em;
}

.nav-select-button {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 0.2em 0.5em;
    transition: 0.5s;
    cursor: pointer;
}

.nav-select-button:hover {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0.2em 0.5em;
}

.nav-select-button:focus {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0.2em 0.5em;
}

.tab-select {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0.2em 0.5em;
    font-weight: 700;
}

.spin {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.date-pickerC {
    width: 100%;
}

.date-picker {
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 1px solid #fff;
    width: fit-content;
    margin-bottom: 1em;
}

.date-picker:hover {
    border-bottom: 1px solid #808080;
}

.input-group {
    width: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    transition: 0.5s;
    padding: 0 1em;
}

.simple-desc-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.simple-desc-content {
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #8080804d;
}

.simple-desc-content input:checked ~ label {
    text-decoration: line-through;
}

.simple-desc-content input,
.simple-desc-content label {
    width: 50%;
}

.simple-desc-inputs input {
    width: 90%;
    border: 1px solid #8080804d;
    border-radius: 5px;
    outline: 0 none;
    padding: 0.5em;
    margin-right: 0.5em;
}

.check-icon {
    border: 1px solid;
    padding: 0.5em;
    border-radius: 25px;
    transition: 0.5s;
}

.check-icon:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid;
}

@media (max-width: 930px) {
    .todo-input {
        width: 100%;
    }

    .todo-page {
        margin: 0 0;
        min-height: 75vh;
        justify-content: space-between;
    }

    .todo-form {
        position: fixed;
        width: auto;
        margin: 0;
        bottom: 8em;
        left: 0em;
        right: 0em;
        margin: 0 1em;
    }

    .todo-tasks {
        margin-top: 2em;
        width: 100%;
        justify-content: end;
    }

    .todo-task {
        width: 100%;
    }

    .nav-select-type {
        position: fixed;
        width: auto;
        margin: 0;
        bottom: 13em;
        left: 0em;
        right: 0em;
        margin: 0 1em;
    }

    .emprty-image {
        margin-top: 7em;
    }

    .end-barr {
        position: fixed;
        bottom: 17em;
        left: 0em;
        right: 0em;
        margin: 0 1em;
        border: 1px solid rgba(128, 128, 128, 0.2);
    }
}
