.container-storage-select {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.container-storage-select div {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.container-storage-select label {
    display: flex;
    gap: 1em;
    padding: 0.25em;
    font-size: small;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
}
