.modal-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title-task {
    outline: 0;
    width: 100%;

    padding: 0 0.2em;
    margin-bottom: 1em;
    font-size: x-large;
    border: 1px solid white;
    transition: 0.5s;
}

.desc-task {
    border: 0 none;
    outline: 0;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.5s;
    width: 100%;
}

.on-edit {
    border: 1px solid #8080804d;
    border-radius: 5px;
}

.date-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.date-pickerC {
    width: 100%;
}

.date-picker {
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 1px solid #fff;
    width: fit-content;
    margin-bottom: 1em;
}

.date-picker:hover {
    border-bottom: 1px solid #808080;
}

.button-form-modal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.my-button {
    border: 0 none;
    outline: 0;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: 0.4s;
    font-weight: 500;
    cursor: pointer;
}

.my-button:hover {
    opacity: 0.7;
}

.cancel-button-modal {
    background-color: rgb(252, 104, 104);
}

.confirm-button-modal {
    background-color: rgb(106, 194, 106);
}

.alert-button-modal {
    background-color: rgb(106, 154, 194);
}

.info-modal .desc-info,
.info-modal .date-info {
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 0.5em;
    border-radius: 5px;
}

.info-modal button {
    margin-top: 1em;
}

.info-modal {
    display: flex;
    flex-direction: column;
}

.input-group {
    width: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    transition: 0.5s;
    padding: 0 1em;
}

.simple-desc-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.simple-desc-content {
    margin-top: 0.5em;
    padding: 0 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #8080804d;
    border-radius: 6px;
}

.item-editor-button {
    padding: .5em;
    cursor: pointer;
}

.list-input {
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
}

.simple-desc-content input:checked ~ label {
    text-decoration: line-through;
}

.simple-desc-content p {
    margin: 0;
    margin-right: 1em;
}

.simple-desc-content .input-checkbox {
    margin-right: 1em;
}
.simple-desc-content label {
    width: 100%;
}

.simple-desc-inputs input {
    width: 90%;
    border: 1px solid #8080804d;
    border-radius: 5px;
    outline: 0 none;
    padding: 0.5em;
    margin-right: 0.5em;
}

.check-icon {
    border: 1px solid;
    padding: 0.5em;
    border-radius: 25px;
    transition: 0.5s;
}

.check-icon:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid;
}

.simple-input-edit {
    border: 0;
    outline: 0;
}
