/* Global */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --color-one: #096dd9;
  --color-two: #6267d0;
  --color-three: #8762c4;
  --color-for: #a15eb6;
  --color-five: #b35ca7;
  --color-six: #bf5c99;
  --color-green: #87d068;
  --color-blue: #108ee9;

  --light-color: #e8efff;
  --dark-color: #181b29;
}

* {
  margin: 0;
  font-family: "IBM Plex Serif", serif;
  /* font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; */
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Login Page */

#login-page {
  background-image: linear-gradient(var(--color-one), var(--color-for));
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  background-color: var(--light-color);

  box-shadow: 0 0 10px 1px var(--dark-color);
  border-radius: 3px;
  padding: 2rem;
  cursor: default;
}

#login-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#login-title img {
  height: 30px;
  width: 30px;
}

#login-title h2 {
  margin: 1rem 1rem;
  font-weight: 300;
}

.login-button {
  cursor: pointer;
  color: var(--light-color);

  padding: 12px;
  border-radius: 5px;
  width: 100%;
  margin: 5px 0;
  transition: 0.3s;
}

.loading {
  cursor: default;
  color: var(--light-color);

  padding: 12px;
  border-radius: 5px;
  width: 100%;
  margin: 5px 0;
  transition: 0.3s;
}

.login-button:hover {
  opacity: 0.8;
}

.github {
  background-color: var(--dark-color);
}

.google {
  background-color: var(--color-three);
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}
