.pomo-page {
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 4px;
    position: fixed;
    top: 7em;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: 0 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1em;
    cursor: default;
}

.type-time {
    color: #fff;
    padding: 0.2em 0.7em;
    border-radius: 5px;
}

.work {
    background-color: var(--color-blue);
    box-shadow: 0 0 15px 0px var(--color-blue);
}

.sleep {
    background-color: var(--color-green);
    box-shadow: 0 0 15px 0px var(--color-green);
}

.pomo-page h1 {
    font-size: 4em;
    margin: 0;
}

.set-timers input {
    text-align: center;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #80808033;
}

.set-timers {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button-section button {
    display: flex;
    margin: 0 1em;
    text-align: center;
    align-items: center;
    gap: 0.1em;
}

.button-section {
    display: flex;
}

.progress-bar {
    width: 100%;
    margin: 1em;
}

@media (max-width: 930px) {
    .pomo-page {
        left: 0;
        right: 0;
        margin: 0 1em;
        bottom: 7em;
        top: 2em;
    }
}
